<ul class="leftsidebar">
  <li *ngIf="role1 == 'user1'">
    <a title="Dashboard" routerLink="/user-dashboard" title="Dashboard"
      ><img
        src="/assets/home3.jpg"
        alt=""
        width="30px"
        height="30px"
        style="margin-left: -5px"
    /></a>
  </li>
  <li *ngIf="role == 'admin'">
    <a title="Dashboard" routerLink="/admin-dashboard" title="Dashboard"
      ><img
        src="/assets/home3.jpg"
        alt=""
        width="30px"
        height="30px"
        style="margin-left: -5px"
    /></a>
  </li>
  <li>
    <a href="" title="Help"
      ><img
        src="/assets/contactUS2.jpg"
        alt=""
        width="30px"
        height="30px"
        style="margin-left: -5px"
    /></a>
  </li>
  <li>
    <a href="" download="USER_GUIDE.pdf" title="USER GUIDE"
      ><img
        src="/assets/userGuide2.jpg"
        alt=""
        width="30px"
        height="30px"
        style="margin-left: -5px"
    /></a>
  </li>
  <li>
    <a download="BUDGET_FAQ.pdf" title="FAQ"
      ><img
        src="/assets/faq2.jpg"
        alt=""
        width="30px"
        height="30px"
        style="margin-left: -5px"
    /></a>
  </li>
</ul>
