<div class="contariner-fluid">
  <div class="row">
    <div class="col-lg-1">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-xl-11" style="margin-top: 5px">
      <app-header></app-header>
      <div class="addQuestionBtn">
        <button
          style="
            background-color: red;
            border-radius: 10px;
            padding: 5px;
            border: none;
            margin-right: 250px;
            color: white;
          "
          routerLink="/admin-user-form"
        >
          Add Question
        </button>
        <button
          class="exportBtn"
          style="
            background-color: red;
            border-radius: 10px;
            padding: 5px;
            border: none;
            margin-left: 0px;
            color: white;
          "
          routerLink="/user-dashboard"
        >
          User View
        </button>
        <button
          class="exportBtn"
          (click)="exportAsExcelFile()"
          style="
            background-color: red;
            border-radius: 10px;
            padding: 5px;
            border: none;
            margin-left: 250px;
            color: white;
          "
        >
          Export To Excel
        </button>
      </div>
      <table class="table-bordered tableStyle">
        <thead>
          <tr>
            <th>Name</th>
            <th scope="col">Marks</th>
            <th>Time Taken</th>
            <th>Submited On</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let answer of userDetails">
            <th scope="row">
              <a
                routerLink="/answer-tab"
                [queryParams]="{ userID: answer.user._id }"
                >{{ answer?.user?.fullName }}</a
              >
            </th>
            <td>{{ answer?.mark }} %</td>
            <td>{{ answer.timeTaken }}</td>
            <td>{{ answer.endTime | date : "dd MMM-YYYY" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
